h1 {
    color: #FF1493;
}
p {
    color: black;
}

#avatar {
    float: left;
    margin: 0 0 10px 10px;
}

#menu ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
}

#menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111;
}

#main {
    background-color: white;
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 300px;
}

#left nav{
    background-color: #B0B0B0;
    float: left;
}
#right p{
    background-color: #B0B0B0;
    float: right;
}
#footer{
    background-color: #333;
    color: white;
}

