
#container{height:800px;}
#leftsidebar {float:left; width:150px; background-color:#ccc; height:100%;} 
#rightsidebar {float:right; width:150px; background-color:#ccc;height:100%;}
#main{
    margin-left:160px;
    margin-right:160px;
}

#header{
    background: #6396bc;
    width:100%;
    top:0;
    position:fixed;
}

.menu{
    float:right;  
}
.menu a{
    text-decoration:none;
    color: white;
}
