h1 {
    color: #FF1493;
}
p {
    color: black;
}
body{
    width:100%;
    margin:auto;
}
.container{
    width:960px;
    margin:0 auto;
}

#avatar {
    float: left;
    margin: 0 0 10px 10px;
}
#main {
    background-color: white;
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 300px;
}
.menu{
    float:right;  
}
a{
    text-decoration:none;
    color: white;
}
li{
    list-style:none;
    float:left;
    margin-left:15px;
    margin-bottom:15px;
}

.header{
    background: #6396bc;
    width:100%;
    top:0;
    position:fixed;
}
.container{
    width:960px;
    margin: 0 auto;
}


.left {
    background-color: #B0B0B0;
    float: left;
}
.right {
    background-color: #B0B0B0;
    float: right;
}
.footer{
    background-color: #333;
    color: white;
}




